@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

:root {
  --font-base: 'Poppins', sans-serif;

  --primary-color: #ff604a;
  --secondary-color: #333333;
  --third-color: #4d4d4d;
  /* old secondary color: #ffde59 */
  --black-color: #000;
  --white-color: #fff;
  --gray-color: rgb(223, 223, 223);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

